/* Start navbar and home page */

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.navbar a {
    color: white !important;
}

.navbar span {
    color: #ffae42;
    font-weight: bolder;
    font-size: 40px;
}

nav li button {
    padding: 10px 20px !important;
}

.navbar ul li .nav-link {
    color: white !important;
}

.navbar ul li .nav-link:hover {
    color: #ffae42 !important;
}

.bgi {
    background-size: 100% 100%;
    width: 100%;
    height: 654px;
    background-image: url(../images/background-image.jpg);
}

.HomeColor {
    width: 100%;
    height: 654px;
    background-color: rgb(3, 14, 58);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.5;
}

.all {
    position: relative;
    top: 10%;
}

.bgi .text {
    color: white;
    text-align: center;
}

.bgi .all .text h1 {
    font-size: 80px;
}

.bgi h1 span {
    color: #ffae42;
    font-size: 150px;
}

.bgi .all .text p {
    font-size: 30px;
}

.book {
    margin: auto;
    padding: 5px;
}

.input {
    width: 100%;
    padding: 4px;
    border: white solid 1px;
}

.book .input {
    width: 100%;
    /* margin: 8px 0; */
    box-sizing: border-box;
    background-color: rgba(247, 174, 66, 0.5);
    color: white;
    height: 50px;
}

.input::placeholder {
    color: white;
    opacity: 1;
}

.btn1 {
    background-color: #ffae42;
    color: white;
    border: white 1px;
    padding: 12px 30px;
    border-radius: 10px;
}

.phone img {
    background-color: #ffae42 !important;
}

/*End navbar and home page*/

.container {
    width: 1170px;
    margin: auto
}

.container.row.col-xl-4 i {
    width: 50%;
    height: 200px;
}

.col-xl-4 {
    text-align: center;
}

i:hover {
    color: #ffae42;
}

.rooms .item {
    height: 400px;
}

.opinions {
    background-size: 100% 100%;
    width: 100%;
    height: 627px;
    background-image: url(../Images/opinions.jpg);
}

.opinions .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(3, 14, 58, 0.5);
}

.card .cal {
    padding: 30px;
}

.card {
    margin: 5% 10px 5% 10px;
    border-radius: 0px !important;
}

.card .card-img-top {
    margin: auto !important;
    width: 25% !important;
}

.card .card-body {
    text-align: center;
}

.card .img-boy {
    width: 150px !important;
    margin: auto;
    border-radius: 50%;
}

.card p {
    text-align: center;
}

.opinions .card img {
    width: 100px;
    margin: auto;
    margin-top: 20px;
}

.opinions .card img {
    width: 100px;
    margin: auto;
    margin-top: 20px;
}

.BookRoom {
    margin: 100px auto;
    text-align: center;
}

.BookRoom h1 {
    margin: 50px;
}

.BookRoom p {
    color: rgb(100, 100, 100);
}

.SelectRoom .single {
    position: relative;
    background-size: 100% 100%;
    width: 350px;
    height: 500px;
    background-image: url(../Images/single-room.jpg);
}

.SelectRoom .family {
    position: relative;
    background-size: 100% 100%;
    width: 350px;
    height: 500px;
    background-image: url(../Images/family-room.jpg);
}

.SelectRoom .deluxe {
    position: relative;
    background-size: 100% 100%;
    width: 350px;
    height: 500px;
    background-image: url(../Images/deluxe-room.jpg);
}

.priceNight {
    position: absolute;
    background-color: white;
    margin: 10px;
    padding: 10px 20px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}

.BookButton {
    width: 90%;
    margin: 20px;
    padding: 30px;
    position: absolute;
    top: 70%;
}

.BookButton button {
    background-color: #ffae42;
    color: white;
}

.roomHover {
    width: 100%;
    height: 100%;
}

.roomHover:hover {
    background: rgba(3, 14, 58, 0.6);
}

.slide {
    margin: 50px auto;
    width: 750px;
    height: 400px;
}

.carousel-item .carousel-caption h1 {
    color: #810101;
    font-size: 47px;
}

.carousel-item .carousel-caption a {
    text-decoration: none;
}

.carousel-item .carousel-caption h1:hover {
    color: blue;
}

.hotel {
    margin: auto;
    width: 20%;
    border: 5px solid #FFFF00;
    padding: 10px;
}